//------------------------------------------------------------------------------
//
// Content
//
//-----------------------------------------------------------------------------

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}
