//------------------------------------------------------------------------------
//
// Content
//
//-----------------------------------------------------------------------------

img {
  display: block;
  margin: 1em auto;
}

figure {
  margin: 2em 0;
}

figcaption {
  text-align: center;
  font-style: italic;
}


blockquote {
  font-family: $serif;
  font-style: italic;
  text-align: center;

  p {
    font-size: 1.5em;
  }

  @media (min-width: em-calc(640)) {
    p {
      font-weight: 100;
      font-size: 2.25em;
    }
  }
}

a {
  font-weight: 600;
  text-decoration: underline;  
}

%fancy-images {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(#000, 0.25);
  overflow: none;
}
