//------------------------------------------------------------------------------
//
// Content
//
//-----------------------------------------------------------------------------

img {
  display: block;
  margin: 1em auto;
}

figure {
  margin: 2em 0;
}

figcaption {
  text-align: center;
  font-style: italic;
}
