//------------------------------------------------------------------------------
//
// Header
//
//-----------------------------------------------------------------------------

header {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.logo {
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.22, 0.44, 0, 1);

  display: block;
  float: left;
  margin-top: 8px;
  background: url(/images/static/did-logo.png) center center;
  background-size: contain;
  width: 48px;
  height: 48px;

  &:hover {
    -webkit-transform: rotate(360deg);
  }
}

.header-nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  li {
    margin: 0;
    padding: 1em;
    display: inline-block;
  }

  a{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    font-size: em-calc(16)
  }
}
