//------------------------------------------------------------------------------
//
// Header
//
//-----------------------------------------------------------------------------

.site-nav {
  position: absolute;
  top: 0;
  width: 100%;

  .logo {
    float: left;
    color: #FFF;
    font-weight: 900;
    text-decoration: none;
    font-size: em-calc(36);

    @media (max-width: 377px) {
      padding-top: 6px;
      padding-left: 12px;
      font-size: em-calc(18);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  li {
    margin: 0;
    padding: 0.75em;
    @media (max-width: 377px) {
      padding: 0.3em;
    }
    display: inline-block;
  }

  a{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    font-size: em-calc(14);

    &:hover {
      color: #fff;
      opacity: 0.75;
    }
  }
}

.site-footer .site-nav a {
  color: $blue;
}
