//------------------------------------------------------------------------------
//
// Week Grid
//
//-----------------------------------------------------------------------------


.list-block-inner {
  display: block;
  padding: 4em 0;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;

  h2, h3, h4 {
    color: inherit;
  }
}

.coming-soon {
  opacity: 0.5;
  border: 1px solid $smoke;
  background: $ghost;
}

.list--olive {
  background: $olive;
  color: #FFF;

  &:hover {
    color: lighten($olive, 25%);
  }
}

.list--blue {
  background: $blue;
  color: #FFF;

  &:hover {
    color: lighten($blue, 25%);
  }
}

.list--teal {
  background: $teal;
  color: #FFF;

  &:hover {
    color: lighten($teal, 25%);
  }
}


.list--red {
  background: $red;
  color: #fff;

  &:hover {
    color: lighten($red, 25%);
  }
}

.list--peach {
  background: $peach;
  color: #fff;

  &:hover {
    color: lighten($peach, 25%);
  }
}

.list--maroon {
  background: $maroon;
  color: #fff;

  &:hover {
    color: lighten($maroon, 25%);
  }
}


.list--lime {
  background: $lime;
  color: #fff;

  &:hover {
    color: lighten($lime, 25%);
  }
}

.list--purple {
  background: $purple;
  color: #fff;

  &:hover {
    color: lighten($purple, 25%);
  }
}

.list--tomato {
  background: $tomato;
  color: #fff;

  &:hover {
    color: lighten($tomato, 25%);
  }
}

.list--yellow {
  background: $yellow;
  color: #fff;

  &:hover {
    color: lighten($yellow, 25%);
  }
}
