//------------------------------------------------------------------------------
//
// Week Grid
//
//-----------------------------------------------------------------------------
@mixin list-grid($color) {
	background: $color;

	&:hover { color: lighten($color, 25%); }
}

.list-block-inner {
	display: block;
	padding: 4em 0;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	color: #FFF;

	h2, h3, h4 {
		color: inherit;
		font-weight: 600;
		margin: 0;
	}
}

.list--olive  { @include list-grid($olive); }
.list--blue   { @include list-grid($blue); }
.list--teal   { @include list-grid($teal); }
.list--red    { @include list-grid($red); }
.list--peach  { @include list-grid($peach); }
.list--maroon { @include list-grid($maroon); }
.list--lime   { @include list-grid($lime); }
.list--purple { @include list-grid($purple); }
.list--tomato { @include list-grid($tomato); }
.list--yellow { @include list-grid($yellow); }
.list--crimson{ @include list-grid($crimson); }
.list--aqua 	{ @include list-grid($aqua); }
.list--orange	{ @include list-grid($orange); }
.list--seafoam{ @include list-grid($seafoam); }
.list--gold		{ @include list-grid($gold); }
.list--trueblue{ @include list-grid($trueblue); }
