//------------------------------------------------------------------------------
//
// Masthead
//
//-----------------------------------------------------------------------------

$steps: 10;

@function drawsteps($color) {
  $val: 0px 0px $color;
  @for $i from 1 through $steps {
    $val: #{$val}, #{($i+5)*-1}px #{$i+5}px #{saturate($color,$i*1%)};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: drawsteps($color);
}

.masthead {
  padding: 3.5em 0;
  margin-bottom: 3em;
  text-align: center;

  h1, h2, h3, h4 {
    color: inherit;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;
  }

  @media (min-width: em-calc(640)) {
    min-height: 360px;
    padding: 7em 0;

    h1 {
      font-size: 6em;
    }
  }
}

//
//
// Masthead Colors
//
//

.masthead--blue {
  background: $blue;
  color: lighten($blue, 20%);

  h1 {
    text-shadow: drawsteps(lighten($blue, 5%));
  }
}

.masthead--olive {
  background: $olive;
  color: lighten($olive, 25%);

  h1 {
    text-shadow: drawsteps(lighten($olive, 5%));
  }

}

.masthead--teal {
  background: $teal;
  color: lighten($teal, 25%);

  h1 {
    text-shadow: drawsteps(lighten($teal, 5%));
  }
}

.masthead--navy {
  background: $navy;
  color: lighten($navy, 25%);

  h1 {
    text-shadow: drawsteps(lighten($navy, 5%));
  }
}

.masthead--red {
  background: $red;
  color: lighten($red, 25%);

  h1 {
    text-shadow: drawsteps(lighten($red, 5%));
  }
}

.masthead--peach {
  background: $peach;
  color: lighten($peach, 25%);

  h1 {
    text-shadow: drawsteps(lighten($peach, 5%));
  }
}

.masthead--maroon {
  background: $maroon;
  color: lighten($maroon, 25%);

  h1 {
    text-shadow: drawsteps(lighten($maroon, 5%));
  }
}

.masthead--lime {
  background: $lime;
  color: lighten($lime, 25%);

  h1 {
    text-shadow: drawsteps(lighten($lime, 5%));
  }
}
