//------------------------------------------------------------------------------
//
// Masthead
//
//-----------------------------------------------------------------------------

$steps: 10;

@mixin masthead($color) {
	background: $color;
	color: lighten($color, 20%);

	h1 { text-shadow: drawsteps(darken($color, 8%)); }
}

@function drawsteps($color) {
	$val: 0px 0px $color;
	@for $i from 1 through $steps {
		$val: #{$val}, #{($i+2)*-1}px #{$i+2}px #{saturate($color,$i*1%)};
	}
	@return $val;
}

.masthead {
	padding: 3.5em 0;
	margin-bottom: 3em;
	text-align: center;

	.row { z-index: 9999; }

	h1,
	h2,
	h3,
	h4 {
		color: inherit;
	}

	h1 {
		font-size: 3em;
		font-weight: bold;
	}

	canvas {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
	}

	&.has-canvas { background: transparent; }

	@media (min-width: em-calc(640)) {
		min-height: 360px;
		padding: 7em 0;

		h1 { font-size: 6em; }
	}
}

//
//
// Masthead Colors
//
//

.masthead--blue    { @include masthead($blue); }
.masthead--olive   { @include masthead($olive); }
.masthead--teal    { @include masthead($teal); }
.masthead--navy    { @include masthead($navy); }
.masthead--red     { @include masthead($red); }
.masthead--peach   { @include masthead($peach); }
.masthead--maroon  { @include masthead($maroon); }
.masthead--lime    { @include masthead($lime); }
.masthead--purple  { @include masthead($purple); }
.masthead--tomato  { @include masthead($tomato); }
.masthead--yellow  { @include masthead($yellow); }
.masthead--crimson { @include masthead($crimson); }
.masthead--aqua		 { @include masthead($aqua); }
.masthead--orange	 { @include masthead($orange); }
.masthead--seafoam { @include masthead($seafoam); }
