//------------------------------------------------------------------------------
//
// Masthead
//
//-----------------------------------------------------------------------------

.masthead {
  padding: 3.5em 0;
  margin-bottom: 3em;
  text-align: center;

  h1, h2, h3, h4 {
    color: inherit;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;
  }

  @media (min-width: em-calc(640)) {
    min-height: 460px;
    padding: 8em 0;

    h1 {
      font-size: 6em;
    }
  }
}

.masthead--blue {
  background: $blue;
  color: lighten($blue, 20%);
}

.masthead--olive {
  background: $olive;
  color: lighten($olive, 25%);
}

.masthead--teal {
  background: $teal;
  color: lighten($teal, 25%);
}

.masthead--navy {
  background: $navy;
  color: lighten($navy, 25%);
}
